{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "MoodyDatabase": "Server=192.168.43.34;Database=Moody;User ID=sa;Password=123"
  }
}