body {
    background-color: #333333;
    margin:0px;
    padding:0px;
    min-width: 500px !important;
}

.NavMenu .active {
    border-left: 5px solid black !important;
}
.no-padding-left-right {
    padding-left:0px !important;
    padding-right:0px !important;
}
.no-padding-left{
    padding-left:0px !important;
}

/*navbar*/
.navBar {
    /**/
    position: fixed !important;
    z-index:2;
    background-color: rgba(41, 48, 48, 0.85);
}
.searchBar button {
    color:ghostwhite !important;
    border-radius: 5% !important;
    outline: 1px solid ghostwhite !important;
}
.nav-items {
    margin-left:1px !important;
    margin-right:1px !important;
    background-color: transparent !important;
    /* box-shadow: none !important; */
    transition:all 0.3s ease-in-out;
    border-radius: 0% !important;
}
.nav-items:hover {
    box-shadow: 0px 4px 0px ghostwhite !important;
}
.nav-items a {
    background-color: transparent !important;
}
.nav-items span {
    color:ghostwhite !important;
}
.menu-item-sm {
    display: none;
}
.menu-item-sm div {
    color:white !important;
}
.menu-icon {
    color:lightgray !important;
}
.SearchField > input {
    color: white !important;
}
.SearchField > div {
    color: #ccc !important;
}
@media screen and (max-width: 1140px) {
    .navBar .menu-item-bg {display: none}
    .navBar .menu-item-sm {display: block}
}
@media screen and (max-width:780px){
    .SearchField {width:130px !important}
}
@media screen and (max-width:650px){
    .SearchField {width:100px !important}
    .menu-brand {display: none !important}
}

/*footer*/
.footer {
    color:lightgray;
    background-color: rgba(41, 48, 48, 1);
    padding:2vh 0px;
}
.footer .developer {
    text-align: right;
}
.footer .icon {
    font-size: 24px;
}
.copyright {
    padding-top:7px;
}

/* home style */
/*section1*/
.section1 {
    position: relative;
    height: 100vh;
    text-align: center;
}
.section1 .section1_title {
    color:white;
    font-size: 4rem;
    margin-top: 35vh;
    font-family: fantasy;
}
.section1 .background {
    position: absolute;
    height: 100%;
    width:100%;
    /* background-image: url('../components/source/img/HomeBackground.jpg'); */
    background-position:center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.4;
}
/*set potion for links*/
.sections .link {
    position: absolute;
    right:120px;
    text-decoration: none !important; 
    cursor: pointer;
}

/*sections set padding top and padding for sections*/
.sections {
    padding-top:15vh;
    padding-bottom:15vh;
}
/*section 2 : songs*/
.section2 {
    background-color:white;
}
.section2 .card {
    margin-top:1.5vh;
    margin-bottom:1.5vh;
}
.section2 .card .song-wrapper {
    height:32vh;
    background-color: lightcoral;
}
.section2 .card .song-wrapper:hover .song-script {
    width:100%;
}

.section2 .card .song-wrapper:hover .song-script .song-name {
    opacity: 1;
}

.section2 .card .song-wrapper:hover .song-script .song-artist {
    opacity: 1;
}

.section2 .card .song-wrapper .song-script {
    position: relative;
    height:30%;
    width:0%;
    background-color: #333333;
    opacity: 0.6;
    top:70%;
    transition: width 0.3s ease-in;
    overflow: hidden;
}
.section2 .card .song-wrapper .song-script .song-name, .song-artist {
    color:white;   
    margin-left: 20px;
    opacity:0;
    transition:all 0.1s !important;
}
.section2 .card .song-wrapper .song-script .song-name{
    font-size: 1.5rem;
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    .section2 .card {
        width:70%;
    }
}
@media screen and (max-width: 500px) {
    .section2 .card {
        width:80%;
    }
}


/*section 3 : albums*/
.section3 {
    background-color: ghostwhite;
    position: relative;
}
.section3 .album-wrapper{
    margin:0.5vh 0;
}
.section3 .album-cover {
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section3 .album-script {
    height:20vh;
}

/*section 4: artists*/
.section4 {
    /* background-image: url('../components/source/img/3-seamless-icon-pattern-download.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.artist-img-big {
    background-color: azure;
    height:57.5vh;
}

.artist-img-small{
    background-color: bisque;
    height:28vh;
    margin-bottom:1vh;
}
.section4 .link {color:white !important;}


.background-img-style {
    padding: 10vh 0vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    object-fit: cover;
}
/*loader style*/
.loader-gif {
    margin-left:20px;
}
.loader-text {
    font-size: 2rem;
    margin-left:5px;
}
/*rating for songs*/
.rating-outer {
    display: inline-block;
    position: relative;
    font-size:1.8rem;
}
.rating-outer::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    /* f006 is unicode for star with outline only */
}
.rating-inner {
    position:absolute;
    width:0;
    top:0;
    left:0;
    overflow: hidden;
    white-space: nowrap;
}
.rating-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    /* f006 is unicode for star with filled color */
    color: #f8ce0b;
}