USE [master]
GO
/****** Object:  Database [Moody]    Script Date: 5/17/2018 10:57:59 PM ******/
CREATE DATABASE [Moody]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Moody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Moody.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Moody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Moody_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Moody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Moody]
GO
USE [Moody]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[UserID] [varchar](520) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[MiidleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Available] [bit] NOT NULL,
	[LastModifyAt] [datetime] NOT NULL,
	[LastModifyBy] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Album] [nvarchar](50) NOT NULL,
	[DateReleased] [datetime] NULL,
	[Genre] [varchar](20) NULL,
	[CoverLink] [varchar](10) NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[Album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistCode] [varchar](20) NOT NULL,
	[Available] [bit] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Biography] [nvarchar](500) NULL,
	[BirthDate] [datetime] NULL,
	[Introduce] [nvarchar](100) NULL,
	[CoverLink] [varchar](10) NOT NULL,
	[Producer] [varchar](20) NOT NULL,
	[LastModifyAt] [datetime] NOT NULL,
	[LastModifyBy] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[TagCode] [varchar](20) NOT NULL,
	[TagName] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[TagCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[UserID] [varchar](20) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerCode] [varchar](20) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Available] [bit] NOT NULL,
	[LastModifyAt] [datetime] NOT NULL,
	[LastModifyBy] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[ProducerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[UserID] [varchar](20) NOT NULL,
	[SongID] [varchar](20) NOT NULL,
	[Score] [float] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 5/17/2018 10:57:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[SongCode] [varchar](20) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Subtitle] [nvarchar](50) NOT NULL,
	[Rating] [float] NOT NULL,
	[ListeningFrequency] [int] NOT NULL,
	[ContributingArtist] [varchar](20) NOT NULL,
	[Album] [nvarchar](50) NULL,
	[DateReleased] [datetime] NULL,
	[LastModifyAt] [datetime] NOT NULL,
	[LastModifyBy] [varchar](20) NOT NULL,
	[Composer] [varchar](20) NOT NULL,
	[LyricCode] [varchar](20) NOT NULL,
	[CoverLink] [varchar](10) NOT NULL,
	[Available] [bit] NOT NULL,
	[Length] [time](0) NULL,
 CONSTRAINT [PK_Song] PRIMARY KEY CLUSTERED 
(
	[SongCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 5/17/2018 10:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagCode] [varchar](20) NOT NULL,
	[SongCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagCode] ASC,
	[SongCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Table_1]    Script Date: 5/17/2018 10:58:00 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UK_Table_1] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artist] ADD  CONSTRAINT [DF_Artist_Available]  DEFAULT ((0)) FOR [Available]
GO
ALTER TABLE [dbo].[Artist] ADD  CONSTRAINT [DF_Artist_CoverLink]  DEFAULT ('404.png') FOR [CoverLink]
GO
ALTER TABLE [dbo].[Artist] ADD  CONSTRAINT [DF_Artist_Producer]  DEFAULT ('N/A') FOR [Producer]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_ListeningFrequency]  DEFAULT ((0)) FOR [ListeningFrequency]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_ContributingArtist]  DEFAULT ('N/A') FOR [ContributingArtist]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_Album]  DEFAULT (N'N/A') FOR [Album]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_DateReleased]  DEFAULT (((1)/(1))/(1900)) FOR [DateReleased]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_LastModifyBy]  DEFAULT ('N/A') FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_Composer]  DEFAULT ('N/A') FOR [Composer]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_LyricCode]  DEFAULT ('N/A') FOR [LyricCode]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_CoverLink]  DEFAULT ('404.png') FOR [CoverLink]
GO
ALTER TABLE [dbo].[Song] ADD  CONSTRAINT [DF_Song_Available]  DEFAULT ((0)) FOR [Available]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Artist_Producer] FOREIGN KEY([Producer])
REFERENCES [dbo].[Producer] ([ProducerCode])
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Artist_Producer]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Member] FOREIGN KEY([UserID])
REFERENCES [dbo].[Member] ([UserID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Member]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Song] FOREIGN KEY([SongID])
REFERENCES [dbo].[Song] ([SongCode])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Song]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_Album] FOREIGN KEY([Album])
REFERENCES [dbo].[Album] ([Album])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_Album]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_Artist] FOREIGN KEY([ContributingArtist])
REFERENCES [dbo].[Artist] ([ArtistCode])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_Artist]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Category] FOREIGN KEY([TagCode])
REFERENCES [dbo].[Category] ([TagCode])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Category]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Song] FOREIGN KEY([SongCode])
REFERENCES [dbo].[Song] ([SongCode])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Song]
GO
USE [master]
GO
