@{
    ViewData["Title"] = "Home Page";
}
<div id="react-app">
    <center style="padding-top: 30vh">
        <img src="/img/Preloader_1.gif">
    </center>
    
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
